@import '@/scss/variables.scss';

.display-period {
  height: 400px;
  overflow: hidden;

  .frame-period {
    transition: .5s;

    .period-item {
      h3 {
        font-size: 40px;
        color: black;

        width: 80%;
        max-width: 200px;
        min-width: 100px;
        cursor: pointer;
      }
    
      .dot {
        width: 15px;
        height: 15px;
        display: flex;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          margin: auto;
          width: 7.2px;
          height: 7.2px;
          border-radius: 50%;
          background: black;
        } 
      }

      &.active {
        h3 {
          color: $color-blue4;
          font-weight: bold;
        }
        .dot {
          &:after {
            width: 15px;
            height: 15px;
            background: $color-blue4;
          }
        }
      }
    }
  }
}
