@import './variables.scss';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';

// Style đè lên style bootstarp có sẵn
// https://bootstrap-vue.org/docs , phần Theming Bootstrap

@font-face {
  font-family: K2D;
  src: url('/public/webfonts/K2D-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: K2D;
  color: $color-text;
}

a {
  text-decoration: none !important;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 15px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    padding: 0 100px;
  }
}